 <div class="row">
    <div class="col-md-12" ng-show="exercises.length > 0">
    
    <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" >
    <a class="btn btn-lg btn-success" href="#/edit-exercise/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new Exercise</a>
    </div>
    </nav>
        <table class="table table-striped table-bordered">
        <thead>
        <th>Exercise Name&nbsp;</th>
        <th>Description&nbsp;</th>
        </thead>
        <tbody>
            <tr ng-repeat="data in exercises">
                <td>{{data.exerciseName}}</td>
                <td>{{data.exerciseDescription}}</td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="exercises.length == 0">
        <div class="col-md-12">
            <h4>No exercises found</h4>
        </div>
    </div>
</div>